*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	min-height: 600px;
	color: #333;
	color: var(--body-text);
	background: #ccd8e4;
	background: var(--body-bg);
	overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body.modal-open {
	overflow: hidden;
}

a {
	text-decoration: none;
	color: #ef3b3b;
	color: var(--link-text);
	outline: none;
}

a:hover,
a:focus {
	color: #333;
	color: var(--link-text-hover);
}
