.logo-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
}

@media screen and (max-width: 60em) {
  .logo-wrapper {
    position: relative;
    top: auto;
    left: auto;
  }
}

.logo-wrapper .brand {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
}

.logo-wrapper .logo-subtext {
  color: #39c283;
  position: relative;
  top: -30px;
  text-align: center;
}

.logo-wrapper .brand:before {
  background-size: 100% 100%;
  content: "ENTROPY";
  line-height: 205px;
  color: #39c283;
  font-size: 17px;
  font-family: "HEAVITAS", "Helvetica Rounded", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  left: 0;
}

.logo-wrapper .logo {
  animation: 5s linear infinite;
  animation-name: rotate-0;
  animation-delay: 0s;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
}

.logo-wrapper svg path {
  positon: absolute;
  fill: none;
  stroke-width: 2;
  top: 0;
  left: 0;
  /*mix-blend-mode: multiply;*/
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  animation: 4s linear infinite;
}

.logo-wrapper .logo svg path:nth-child(1) {
  opacity: 1;
  animation-name: rotate-1;
  animation-delay: .5s;
}

.logo-wrapper .logo svg path:nth-child(2) {
  opacity: .5;
  animation-name: rotate-2;
  animation-delay: .6s;
}

.logo-wrapper .logo svg path:nth-child(3) {
  opacity: .8;
  animation-name: rotate-3;
  animation-delay: .7s;
}

@keyframes scale-1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate-0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes rotate-3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
